langchain==0.3.25
langchain-core==0.3.58
langchain-community==0.3.23
langchain-text-splitters==0.3.8
langchain-google-genai==2.1.4
langchain-pinecone==0.2.0
google-genai>=0.1.0
langgraph==0.3.21
pinecone-client==5.0.1
fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
pypdf==4.3.1
pydantic==2.9.2